body {
	background-color: #ececec;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper, footer {
	max-width: 1280px;
	margin: 0 auto;
	border-right: 10px solid #f9f9f9;
	border-left: 10px solid #f9f9f9;
}

.wrapper {
	background-color: #f9f9f9;
}

.spacer {
  width: 100%;
  height: 10px;
}

footer {
	height: 20em;
	border-bottom: 10px solid #f9f9f9;
	border-top: 10px solid #f9f9f9;
	background-color: #ececec;
}

nav {
  position: relative;
  top: 0;
  width: 100%;
  height: 6em;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
}

.logo {
  display: table-cell;
  vertical-align: middle;
}

.logo-box {
  width: 100px;
  height: 73px;
  border-radius: 0 15px 15px 0;
  background-color: #d20071;
}

.links-container {
  display: table;
  width: 100%;
  height: 100%;
}

.links {
  display: table-cell;
  vertical-align: middle;
}

.links .nav-links {
  list-style-type: none;
  width: 44.8%;
  margin: 0 auto;
  padding: 0;
}

.links .nav-links .nav-link {
  display: inline-block;
  width: 100px;
  height: 60px;
  margin: 0 20px;
  background-color: #ececec;

  transition: background-color 0.3s ease-in-out;
}

.links .nav-links .nav-link:hover {
  background-color: #d20071;
}

.dropdown .dropdown-menu {
  display: table;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 10em;
  background-color: rgba(249, 249, 249, 0.95);
  visibility: hidden;
  opacity: 0;
  transform-origin: center top;
  transform: scale(1,0);
  transition: visibility 0.3s ease-in-out 1s, opacity 0.3s ease-in-out 1s, transform 0.3s ease-in-out 1s;
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: scale(1,1);
  transition: visibility 0.3s ease-in-out 0.5s, opacity 0.3s ease-in-out 0.5s, transform 0.3s ease-in-out 0.5s;
}

.dropdown:hover > .nav-link {
  background-color: #d20071;
}

.product-menu {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.product-menu ul a {
  display: inline-block;
}

.product-menu ul {
  width: 56.1%;
  margin: 0 auto;
}

.product {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  background-color: #ececec;
  opacity: 0;
  transition: background-color 0.3s ease-in-out, opacity 0.5s ease-in-out 0.8s;
}

.product:hover {
  background-color: #f3f3f3;
}

.dropdown:hover .product {
  opacity: 1;
}

.search-container {
  position: absolute;
  top: 0;
  right: 0;
  display: table;
  height: 100%;
}

.search {
  display: table-cell;
  vertical-align: middle;
}

.search-box {
  width: 60px;
  height: 60px;
  background-color: #ececec;
}

.slider {
  width: 100%;
  height: 400px;
  background-color: #f3f3f3;
  border-top-right-radius: 50px;
}

.features {
  padding: 2em 1em;
  background-color: #f3f3f3;
}

.features h1, .features h3 {
  text-align: center;
}

.features h1 {
  margin-bottom: 20px;
}

.features h3 {
  width: 40%;
  margin: 0 auto;
}

.features div {
  width: 946px;
  margin: 0 auto;
  margin-top: 2em;
}

.tiles {
  width: 100%;
  height: 200px;
}

.tiles div:nth-child(1), .tiles div:nth-child(2) {
  border-right: 6px solid #f9f9f9;
}

.tile {
  display: inline-block;
  width: 32.79%;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  background-color: #f3f3f3;
}

.product-tiles {
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
}

.product-tile {
  display: block;
  float: left;
  width: 42.1%;
  height: 335px;
  margin: 0 auto;
  padding: 2em 3em;
  background-color: #f3f3f3;
}

.product-tile a {
  text-decoration: none;
  color: #2198b8;
  font-size: 1.5em;
  font-variant: small-caps;
}

.product-tile a:hover {
  text-decoration: underline;
}

.product-tiles div:first-child {
  border-right: 10px solid #f9f9f9;
}

.related-container {
  width: 100%;
  height: 400px;
  background-color: #f3f3f3;
}

.related-container .hr {
  display: block;
  position: absolute;
  left: 42.75em;
  height: 350px;
  width: 1px;
  background-color: #ccc;
  border: 0;
  margin: 1.5em 0;
  padding: 0; 
}

.related-tiles {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

.related-tile {
  display: block;
  float: left;
  width: 50%;
  height: 400px;
  margin: 0 auto;
  padding: 0;
}

.related-content {
  display: block;
}

.related-tile h2, .related-tile p {
  display: block;
  text-align: center;
  margin: 0;
  color: #333333;
}

.related-img {
  width: 450px;
  height: 250px;
  margin: 2.25em auto 1.5em auto;
  border-radius: 5px; 
  background-color: #ececec;
}