body {
	background-color: #f9f9f9;
}

footer {
	display: block;
	width: 100%;
	background-color: rgba(235, 235, 235, 0.95);
}

.main-nav {
	background-color: rgba(235, 235, 235, 0.95);
	width: 100%;
	height: 48px;
}

.sub-nav {
	display: table;
	background-color: rgba(243, 244, 244, 0.95);
	width: 100%;
	height: 125px;
}

.sub-nav .icons {
	display: table-cell;
	vertical-align: middle;
}

.sub-nav .icons ul {
	padding: 0;
	margin: 0 auto;
	width: 1018px;
}

.sub-nav .icons ul li {
	display: inline-block;
	margin: 0 auto;
	width: 200px;
	text-align: center;
	font-size: 10px;
}

.sub-nav .icons ul li::before {
	display: block;
	content: '';
	height: 54px;
	margin-bottom: 10px;
	background: url("http://www.apple.com/v/ipad/home/u/home/images/familybrowser/ipadair_large.svg") no-repeat center;
}

header {
	display: table;
	width: 100%;
	height: 300px;
}

.title {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.title p {
	max-width: 50%;
	margin: 0 auto;
	padding-top: 2em;
}

.product-categories > div {
	width: 100%;
	height: 745px;
}

.bp {
	background: url("../image/bp.png") center no-repeat;
	background-size: 100%;
}

.cup {
	background: url("../image/cup.png") center no-repeat;
	background-size: 100%;
}

.soother {
	background: url("../image/soother.png") center no-repeat;
	background-size: 100%;
}

.bottle {
	background: url("../image/bottle.png") center no-repeat;
	background-size: 100%;
}

.care {
	background: url("../image/care.png") center no-repeat;
	background-size: 100%;
}

.inset {
	display: table;
	position: relative;
	width: 400px;
	height: 200px;
	border: 1px solid #fff;
	background-color: rgba(243, 244, 244, 0.75);
}

.category {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.bp .inset, .soother .inset {
	top: 10em;
	left: 60em;
}

.cup .inset, .bottle .inset {
	top: 10em;
	left: 7em;
}

.care .inset {
	top: 6em;
	left: 7em;
}